:root.theme-dark {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --decor-color: #FF0070;
  --text-color: #F1B2CE;
  --text-accent-color: #000028;
  --btn-hover-color: rgba(255, 0, 112, 0.4);
}

.theme-dark .header__record {
  display: block;
}